<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pangu.foying.web.project.back.mapper.BaseItemsMapper">
  <resultMap id="BaseResultMap" type="com.pangu.foying.web.project.back.entity.BaseItems">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MainID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ParentID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="EnCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ItemName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="IsDefault" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="DeleteMark" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="EnabledMark" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="AddTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="AddUserID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AddUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ModifyTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="ModifyUserID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ModifyName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DeleteName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DeleteTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="Remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SortCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MainID, ParentID, EnCode, ItemName, IsDefault, DeleteMark, EnabledMark, AddTime, 
    AddUserID, AddUserName, ModifyTime, ModifyUserID, ModifyName, DeleteName, DeleteTime, 
    Remark, SortCode
  </sql>
  <select id="selectByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_items
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_items
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample">
    delete from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    insert into base_items (ID, MainID, ParentID, 
      EnCode, ItemName, IsDefault, 
      DeleteMark, EnabledMark, AddTime, 
      AddUserID, AddUserName, ModifyTime, 
      ModifyUserID, ModifyName, DeleteName, 
      DeleteTime, Remark, SortCode
      )
    values (#{id,jdbcType=VARCHAR}, #{mainId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{enCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, 
      #{deleteMark,jdbcType=BIT}, #{enabledMark,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUserId,jdbcType=VARCHAR}, #{addUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, #{deleteName,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{sortCode,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    insert into base_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mainId != null">
        MainID,
      </if>
      <if test="parentId != null">
        ParentID,
      </if>
      <if test="enCode != null">
        EnCode,
      </if>
      <if test="itemName != null">
        ItemName,
      </if>
      <if test="isDefault != null">
        IsDefault,
      </if>
      <if test="deleteMark != null">
        DeleteMark,
      </if>
      <if test="enabledMark != null">
        EnabledMark,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="addUserId != null">
        AddUserID,
      </if>
      <if test="addUserName != null">
        AddUserName,
      </if>
      <if test="modifyTime != null">
        ModifyTime,
      </if>
      <if test="modifyUserId != null">
        ModifyUserID,
      </if>
      <if test="modifyName != null">
        ModifyName,
      </if>
      <if test="deleteName != null">
        DeleteName,
      </if>
      <if test="deleteTime != null">
        DeleteTime,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="sortCode != null">
        SortCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null">
        #{mainId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enCode != null">
        #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="deleteMark != null">
        #{deleteMark,jdbcType=BIT},
      </if>
      <if test="enabledMark != null">
        #{enabledMark,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null">
        #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        #{sortCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample" resultType="java.lang.Integer">
    select count(*) from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update base_items
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mainId != null">
        MainID = #{record.mainId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        ParentID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.enCode != null">
        EnCode = #{record.enCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        ItemName = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null">
        IsDefault = #{record.isDefault,jdbcType=BIT},
      </if>
      <if test="record.deleteMark != null">
        DeleteMark = #{record.deleteMark,jdbcType=BIT},
      </if>
      <if test="record.enabledMark != null">
        EnabledMark = #{record.enabledMark,jdbcType=BIT},
      </if>
      <if test="record.addTime != null">
        AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUserId != null">
        AddUserID = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserName != null">
        AddUserName = #{record.addUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null">
        ModifyUserID = #{record.modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyName != null">
        ModifyName = #{record.modifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteName != null">
        DeleteName = #{record.deleteName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null">
        DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sortCode != null">
        SortCode = #{record.sortCode,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update base_items
    set ID = #{record.id,jdbcType=VARCHAR},
      MainID = #{record.mainId,jdbcType=INTEGER},
      ParentID = #{record.parentId,jdbcType=INTEGER},
      EnCode = #{record.enCode,jdbcType=VARCHAR},
      ItemName = #{record.itemName,jdbcType=VARCHAR},
      IsDefault = #{record.isDefault,jdbcType=BIT},
      DeleteMark = #{record.deleteMark,jdbcType=BIT},
      EnabledMark = #{record.enabledMark,jdbcType=BIT},
      AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      AddUserID = #{record.addUserId,jdbcType=VARCHAR},
      AddUserName = #{record.addUserName,jdbcType=VARCHAR},
      ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP},
      ModifyUserID = #{record.modifyUserId,jdbcType=VARCHAR},
      ModifyName = #{record.modifyName,jdbcType=VARCHAR},
      DeleteName = #{record.deleteName,jdbcType=VARCHAR},
      DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      Remark = #{record.remark,jdbcType=VARCHAR},
      SortCode = #{record.sortCode,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    update base_items
    <set>
      <if test="mainId != null">
        MainID = #{mainId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        ParentID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enCode != null">
        EnCode = #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ItemName = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        IsDefault = #{isDefault,jdbcType=BIT},
      </if>
      <if test="deleteMark != null">
        DeleteMark = #{deleteMark,jdbcType=BIT},
      </if>
      <if test="enabledMark != null">
        EnabledMark = #{enabledMark,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        AddUserID = #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        AddUserName = #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        ModifyUserID = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        ModifyName = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null">
        DeleteName = #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        SortCode = #{sortCode,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    update base_items
    set MainID = #{mainId,jdbcType=INTEGER},
      ParentID = #{parentId,jdbcType=INTEGER},
      EnCode = #{enCode,jdbcType=VARCHAR},
      ItemName = #{itemName,jdbcType=VARCHAR},
      IsDefault = #{isDefault,jdbcType=BIT},
      DeleteMark = #{deleteMark,jdbcType=BIT},
      EnabledMark = #{enabledMark,jdbcType=BIT},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      AddUserID = #{addUserId,jdbcType=VARCHAR},
      AddUserName = #{addUserName,jdbcType=VARCHAR},
      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      ModifyUserID = #{modifyUserId,jdbcType=VARCHAR},
      ModifyName = #{modifyName,jdbcType=VARCHAR},
      DeleteName = #{deleteName,jdbcType=VARCHAR},
      DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      Remark = #{remark,jdbcType=VARCHAR},
      SortCode = #{sortCode,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.pangu.foying.web.project.back.entity.BaseItems">
    <constructor>
      <idArg column="ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="MainID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ParentID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="EnCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ItemName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="IsDefault" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="DeleteMark" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="EnabledMark" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="AddTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="AddUserID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AddUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ModifyTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="ModifyUserID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ModifyName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DeleteName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DeleteTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
      <arg column="Remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SortCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MainID, ParentID, EnCode, ItemName, IsDefault, DeleteMark, EnabledMark, AddTime, 
    AddUserID, AddUserName, ModifyTime, ModifyUserID, ModifyName, DeleteName, DeleteTime, 
    Remark, SortCode
  </sql>
  <select id="selectByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_items
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_items
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample">
    delete from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    insert into base_items (ID, MainID, ParentID, 
      EnCode, ItemName, IsDefault, 
      DeleteMark, EnabledMark, AddTime, 
      AddUserID, AddUserName, ModifyTime, 
      ModifyUserID, ModifyName, DeleteName, 
      DeleteTime, Remark, SortCode
      )
    values (#{id,jdbcType=VARCHAR}, #{mainId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{enCode,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, 
      #{deleteMark,jdbcType=BIT}, #{enabledMark,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUserId,jdbcType=VARCHAR}, #{addUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, #{deleteName,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{sortCode,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    insert into base_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mainId != null">
        MainID,
      </if>
      <if test="parentId != null">
        ParentID,
      </if>
      <if test="enCode != null">
        EnCode,
      </if>
      <if test="itemName != null">
        ItemName,
      </if>
      <if test="isDefault != null">
        IsDefault,
      </if>
      <if test="deleteMark != null">
        DeleteMark,
      </if>
      <if test="enabledMark != null">
        EnabledMark,
      </if>
      <if test="addTime != null">
        AddTime,
      </if>
      <if test="addUserId != null">
        AddUserID,
      </if>
      <if test="addUserName != null">
        AddUserName,
      </if>
      <if test="modifyTime != null">
        ModifyTime,
      </if>
      <if test="modifyUserId != null">
        ModifyUserID,
      </if>
      <if test="modifyName != null">
        ModifyName,
      </if>
      <if test="deleteName != null">
        DeleteName,
      </if>
      <if test="deleteTime != null">
        DeleteTime,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="sortCode != null">
        SortCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mainId != null">
        #{mainId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enCode != null">
        #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="deleteMark != null">
        #{deleteMark,jdbcType=BIT},
      </if>
      <if test="enabledMark != null">
        #{enabledMark,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null">
        #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        #{sortCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pangu.foying.web.project.back.entity.BaseItemsExample" resultType="java.lang.Integer">
    select count(*) from base_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update base_items
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mainId != null">
        MainID = #{record.mainId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null">
        ParentID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.enCode != null">
        EnCode = #{record.enCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        ItemName = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null">
        IsDefault = #{record.isDefault,jdbcType=BIT},
      </if>
      <if test="record.deleteMark != null">
        DeleteMark = #{record.deleteMark,jdbcType=BIT},
      </if>
      <if test="record.enabledMark != null">
        EnabledMark = #{record.enabledMark,jdbcType=BIT},
      </if>
      <if test="record.addTime != null">
        AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUserId != null">
        AddUserID = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserName != null">
        AddUserName = #{record.addUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null">
        ModifyUserID = #{record.modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyName != null">
        ModifyName = #{record.modifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteName != null">
        DeleteName = #{record.deleteName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null">
        DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sortCode != null">
        SortCode = #{record.sortCode,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update base_items
    set ID = #{record.id,jdbcType=VARCHAR},
      MainID = #{record.mainId,jdbcType=INTEGER},
      ParentID = #{record.parentId,jdbcType=INTEGER},
      EnCode = #{record.enCode,jdbcType=VARCHAR},
      ItemName = #{record.itemName,jdbcType=VARCHAR},
      IsDefault = #{record.isDefault,jdbcType=BIT},
      DeleteMark = #{record.deleteMark,jdbcType=BIT},
      EnabledMark = #{record.enabledMark,jdbcType=BIT},
      AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      AddUserID = #{record.addUserId,jdbcType=VARCHAR},
      AddUserName = #{record.addUserName,jdbcType=VARCHAR},
      ModifyTime = #{record.modifyTime,jdbcType=TIMESTAMP},
      ModifyUserID = #{record.modifyUserId,jdbcType=VARCHAR},
      ModifyName = #{record.modifyName,jdbcType=VARCHAR},
      DeleteName = #{record.deleteName,jdbcType=VARCHAR},
      DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      Remark = #{record.remark,jdbcType=VARCHAR},
      SortCode = #{record.sortCode,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    update base_items
    <set>
      <if test="mainId != null">
        MainID = #{mainId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        ParentID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enCode != null">
        EnCode = #{enCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ItemName = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        IsDefault = #{isDefault,jdbcType=BIT},
      </if>
      <if test="deleteMark != null">
        DeleteMark = #{deleteMark,jdbcType=BIT},
      </if>
      <if test="enabledMark != null">
        EnabledMark = #{enabledMark,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null">
        AddUserID = #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null">
        AddUserName = #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        ModifyUserID = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        ModifyName = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null">
        DeleteName = #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null">
        SortCode = #{sortCode,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pangu.foying.web.project.back.entity.BaseItems">
    update base_items
    set MainID = #{mainId,jdbcType=INTEGER},
      ParentID = #{parentId,jdbcType=INTEGER},
      EnCode = #{enCode,jdbcType=VARCHAR},
      ItemName = #{itemName,jdbcType=VARCHAR},
      IsDefault = #{isDefault,jdbcType=BIT},
      DeleteMark = #{deleteMark,jdbcType=BIT},
      EnabledMark = #{enabledMark,jdbcType=BIT},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      AddUserID = #{addUserId,jdbcType=VARCHAR},
      AddUserName = #{addUserName,jdbcType=VARCHAR},
      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      ModifyUserID = #{modifyUserId,jdbcType=VARCHAR},
      ModifyName = #{modifyName,jdbcType=VARCHAR},
      DeleteName = #{deleteName,jdbcType=VARCHAR},
      DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      Remark = #{remark,jdbcType=VARCHAR},
      SortCode = #{sortCode,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>